*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.banner{
	width: 100%;
	height: 200px;
	background-color: #EEEEEE;
	display: inline-block;
}
.banner h1{
	font-size: 60px;
	margin-top: 40px;
	margin-left: 20px;
}
.banner h3{
	font-size: 20px;
	margin-top: 20px;
	color: #6A6A6A;
	margin-left: 20px;
}
.classes,.pag{
	min-width: 1000px;
	margin: 0px auto;
	width: 100%;
}
.classes{
	float: left;
}
.pag{
	clear: both;
}
.classes ul{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	float: left;
}
.classes li{
	float: left;
	width: 29%;
	text-align: left;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 20px;
}
.classes li:hover{
	cursor: pointer;
	box-shadow: 10px 10px 20px black;
}
.classes .innerbox{
	width: 90%;
	margin:20px auto;
}
.classes img{
	width: 100%;
}
.classes .titlediv{
	font-size: 20px;
	margin-top: 10px;
}
.classes .title{
	text-overflow: ellipsis;
	overflow:hidden;
	white-space: nowrap;
	max-width: 70%;
	display: inline-block;
}
.classes .note{
	font-size: 14px;
	vertical-align: text-top;
}
.classes .subtitle{
	font-size: 14px;
	margin-top: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.classes .short{
	color: #D64BD3;
}
.classes .long{
	color: #D6984D;
}
/*分页组件的样式*/
.pag ul{
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}
.pag li{
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	border-radius: 50%;
	background-color: #F0F0F0;
}
.pag li.cur{
	background-color: #FFEDB2;
}
.pag li.clickable{
	background-color: #D6F2FF;
}
.pag li.clickable:hover{
	cursor: pointer;
	background-color: #B9CBF7;
}
.overlap{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	display: none;
}
.notedetail{
	position: fixed;
	left: 10%;
	width: 80%;
	top: 10%;
	height: 80%;
	min-width: 800px;
	background-color: white;
	box-shadow: 0px 0px 200px  #F7FF00;
	display: none;
}
.chapterdiv,.notediv{
	width: 48%;
	height: 100%;
	float: left;
	overflow: auto;
}
.notemiddle{
	width: 4%;
	height: 100%;
	float: left;
	background: url('../imgs/note.png') repeat-y;
	background-size: 100% 5%;
}
.chapterdiv{
	background-color: #E8E8FF;
}
.notediv{
	background-color: #FFE3E5;
}
.chapterdiv .titleul{
	width: 80%;
	margin: 20px auto;
}
.chapterdiv .title{
	font-size: 20px;
}
.chapterdiv .subtitle{
	font-size: 16px;
	text-indent: 40px;
	line-height: 30px;
}
.chapterdiv .time,.chapterdiv .type{
	font-size: 12px;
}
.chapterdiv a{
	text-decoration: none;
}
.notediv .noteul{
	width: 98%;
	margin: 20px auto;
}
.notediv .btn{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.notediv .btn button{
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	background-color: #86FF00;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	outline: none;
	transition: all 0.2s linear 0s;
}
.notediv .btn button:hover{
	background-color: #7ED621;
}
.notediv .noteul li{
	margin-top: 20px;
	margin-bottom: 10px;
}
.notediv .time{
	color: gray;
	font-size: 14px;
}
.notediv .content{
	margin-top: 5px;
	background-color: #FFF0F2;
	box-shadow: 2px 2px 2px #FFC9CE;
	padding: 10px;
}
.notediv .content p{
	margin-top: 10px;
	line-height: 30px;
}